# Database Configuration
DATABASE_URL=your_database_url_here

#Databricks Configurations

DATABRICKS_HOST= your databricks host url
DATABRICKS_TOKEN= your databricks token value

# Azure DevOps Configuration
AZURE_DEVOPS_PAT=your_azure_devops_pat_here

# Service Principal Credentials
TENANT_ID=your_tenant_id_here
CLIENT_ID=your_client_id_here
CLIENT_SECRET=your_client_secret_here
